extends layout

block headertags
	script(src="/javascripts/knockout.js")
	script(src="/javascripts/modernizr-custom-2.6.2.js")

block navDropdowns
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Articles
		ul.dropdown-menu
			for val in files
				if val.destination == 'articles'
					li: a(href="/auth/article?file="+val.url) #{val.title}
			li: a(href="/auth/all") All Articles
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Drafts
		ul.dropdown-menu
			for val in files
				if val.destination == 'drafts'
					li: a(href="/auth/article?file="+val.url) #{val.title}
			li: a(href="/auth/all") All Drafts
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown",href="#") Attach CSS
		ul.dropdown-menu.keep-open(data-bind="foreach: cssFiles")
			li: a
				label.checkbox
					input(type="checkbox",data-bind="checked:selected")
					span(data-bind="text:title")
	//-li.dropdown
	//-	a.dropdown-toggle(data-toggle="dropdown",href="#") Attach Template
	//-	ul.dropdown-menu.keep-open(data-bind="foreach: templates")
	//-		li: a
	//-			label.checkbox
	//-				input(type="checkbox",data-bind="checked:selected")
	//-				span(data-bind="text:title")

block navButtons
	li: a(type="button",style="display:none;",data-bind="visible:modified,click:preview") Preview
	li: a(type="button",style="display:none;",data-bind="visible:modified,click:save") Save

block content
	div.container.index_wrapper
		div.row
			div.col-lg-4
				div#properties_div.bottom_space
					div.form-horizontal
						div.form-group
							label.control-label.col-lg-5 Title
							div.controls.col-lg-7
								div.input-group
										input.form-control(type="text",data-bind="value:article.title")
										span.input-group-btn
											button.btn.btn-primary(data-bind="hideTitle:article.hideTitle") 
												span.glyphicon.glyphicon-ok
												p.inline
						div.form-group
							label.control-label.col-lg-5 Url
							div.controls.col-lg-7
								input.form-control(type="text",data-bind="value: article.url")
						div.form-group
							label.control-label.col-lg-5 Save Destination
							div.controls.col-lg-7
								select.form-control(data-bind="value: article.destination"))
									option(value="articles") Articles
									option(value="drafts") Drafts
									option(value="trash") Trash
						div.form-group(data-bind="if: article.destination() == 'trash'")
							label.control-label.col-lg-5 Delete?
							div.controls.col-lg-7
								button.btn.btn-danger(type="button")
									span.glyphicon.glyphicon-trash
						div.form-group
							label.control-label.col-lg-5 Tags
							div.controls.col-lg-7(data-bind="foreach: article.tags")
								p.label-trash
									span.label.label-info(data-bind="text:$data, click:$root.deleteTag")
						div.form-group
							label.control-label.col-lg-5 New Tag
							div.controls.col-lg-7
								form.short-form(data-bind="submit:addTag")
									div.input-group
										input.form-control(type="text",data-bind="value:newTag")
										span.input-group-btn
											button.btn.btn-search(type="submit") &#43;
						div.form-group
							label.control-label.col-lg-5 Category
							div.controls.col-lg-7(data-bind="foreach: previousCategories")
								p.label-trash
									span.label.label-info(data-bind="text:$data, _selectCat:$root.article.category")
						div.form-group
							label.control-label.col-lg-5 New Category
							div.controls.col-lg-7
								form.short-form(data-bind="submit:addCat")
									div.input-group
										input.form-control(type="text",data-bind="value:newCat")
										span.input-group-btn
											button.btn.btn-search(type="submit") &#43;
						div.form-group
							label.control-label.col-lg-5 Preview Text
							div.controls.col-lg-7
								textarea.form-control(data-bind="value: article.previewtext")
						div.form-group
							label.control-label.col-lg-5 Header Tags
							div.controls.col-lg-7
								textarea.form-control(data-bind="value: article.headerTags")
						div.form-group
							label.control-label.col-lg-5 Publish Date
							div.controls.col-lg-7
								input(type="date",data-bind="value: article.publishDate")
			div#draftcolumn.col-lg-8
				div(data-bind="foreach: alert")
					div.col-lg-7(data-bind="css: {'alert-danger': type == 'error','alert-success': type == 'success','alert-warning': type == 'warning'}")
						button.alert.close(data-bind="click: $root.dismiss") x
						strong(data-bind="text:title")
						span(data-bind="text:message")
				div#articledraft(data-bind="foreach: article.content")
					div.itemholder
						textarea.col-lg-7.center.item.inline.form-control(data-bind="value: text,css: { 'code-edit-p': type() == 'pre', 'code-edit-html': type() == 'HTML','text-edit-p': type() == 'p', 'text-edit-h2': type() == 'h2'}")
					button.btn.btn-primary(type="button",data-bind="click: $root.pop") Pop
					button.btn.btn-primary(type="button",data-bind="click: $root.clone") Clone

			div#controlsdiv
				button.newitem.btn.btn-info(type="button",data-bind="click:newParagraph")
					span.glyphicon.glyphicon-pencil 
					|  Paragragh
				button.newitem.btn.btn-info(type="button",data-bind="click:newCode")
					span.glyphicon.glyphicon-list-alt 
					|  Code Section
				button.newitem.btn.btn-info(type="button",data-bind="click:newHeading")
					span.glyphicon.glyphicon-header 
					|  Heading
				button.newitem.btn.btn-info(type="button",data-bind="click:newHtml")
					span.glyphicon.glyphicon-cog 
					|  HTML
				button.newitem.btn.btn-info(type="button",data-bind="click:newPicture")
					span.glyphicon.glyphicon-picture 
					|  Picture
	script(src="/javascripts/utils.js")
	script(src="/javascripts/article.js")

block javascripts
	!= "<script>"
	!= "var _cssFiles = [" + css + "];"
	!= "var _templates = [" + templates + "];"
	!= "var _category = [" + category + "];"
	!= "</script>"