extends layout

block css
	link(rel='stylesheet',href='/Wato/stylesheets/style.css')
	link(rel='stylesheet',href='/Wato/stylesheets/fonts.css')

block content
	article
		h2= 404
		p We couldnt find that article
