extends layout

block css
	link(rel='stylesheet',href='/stylesheets/style.css')
	link(rel='stylesheet',href='/stylesheets/fonts.css')

block content
	article
		h2= 503
		p Sorry, there was some sort of problem