extends layout

block css
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/fonts.css')
    link(rel='stylesheet',href='/stylesheets/prettify.css')

block content
    div.container
        div.row
            div.col-lg-12
                article
                    h2 Results for #{category}
                    each val in list
                        a(href='/article/'+val.url)= val.title
                        p= val.previewtext
                            b   [ 
                            a.readmore(href='/article/'+val.url) Read More...
                            b  ]
