doctype 5
html
	head
		title= title
		script(src='/javascripts/prettify/prettify.js')
		script(src='/javascripts/etherbuck27Mar13.js')
		block css
		block headertags
	body
		header(id='masthead')
			h1
				a(href='/') Wato Demo
			nav
				ul
					li
						strong Categories
						ul
							li
								a(href='/category/html') Wato
							li 
								a(href='/category/css') Other
						strong More By Ryan
						ul
							li 
								a(href='http://demos.ethernetbucket.com') Demos
		block content
		footer
			p: a(href='/allarticles') all articles
		script
			window.onload = function(){
				prettyPrint();
			}
