extends layout

block content
	div.container.index_wrapper
			div.row
				div.col-lg-1
					h1.pull-right
						span.glyphicon.glyphicon-cog 
				div.col-lg-11	
					h1 In Development
					p This page is not available yet
					a(href="/auth/article") Back
					br
					br