body {
	background-color: #eee;
}
/* ==== nav stuff ==== */
header {
	background-color: rgb(255, 153, 0);
	color: #fff;
	height:124px;
	-webkit-box-shadow: 0px 5px 13px rgba(50, 50, 50, 0.79);
	-moz-box-shadow:    0px 5px 13px rgba(50, 50, 50, 0.79);
	box-shadow:         0px 5px 13px rgba(50, 50, 50, 0.79);
}
.nav li {
	font-family: 'open_sanslight',Arial,'sans-serif';
	font-size: 22pt;
}
.nav li:hover {
	text-shadow: 0px 0px 3px rgba(252, 255, 191, 1);
}

.navbar-header a h1 {
	font-family: 'open_sanslight',Arial,'sans-serif';
	font-size: 40pt;
	display: inline;
}
.nav.navbar-nav.navbar-right {
	margin-top: 28px;
}
header h1 span{
	font-family: 'open_sansregular',Arial,'sans-serif';
	font-size: 16pt;
}

/* ==== index stuff ==== */
.indeximage{
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	width: 100%;
	height: 200px;
}

div.indeximage.node {
	background-image: url('../images/node.png');
}
div.indeximage.jade {
	background-image: url('../images/jade.png');
}
div.indeximage.markdown {
	background-image: url('../images/markdown.png');
}
div.indeximage.node:hover {
	background-image: url('../images/node_active.png');
}
div.indeximage.jade:hover {
	background-image: url('../images/jade_active.png');
}
div.indeximage.markdown:hover {
	background-image: url('../images/markdown_active.png');
}

p {
	font-family: 'open_sansregular',Arial,'sans-serif';
}

article.index div p {
	text-align: center;
	width: 70%;
	margin-left: 15%
}

article strong {
	padding: 2px 12px 2px 12px;
	margin-right: 8px;
	background-color: #000;
	color: #fff;
	font-size: 0.7647058823529411em;
	padding: 4px;	
}

article a{
	color: #333;
	font-weight: bold;
}


/* ==== sticky footer solution ==== */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	padding-top: 15px;
	height: 60px;
	background-color: #333;
}
a {
	color:#fff;
	text-decoration: none;
}

li a.nav-light {
	font-family: 'open_sanslight',Arial,'sans-serif';
}