extends layout

block content
	div.container.index_wrapper
		div.row
			div.col-lg-12
				include ./../includes/notifications
				pre Articles
				table.table.table-condensed
					thead
						tr
							th Name
							th Category
							th Publish Date
							th Last edited by
							th Move
					tbody(data-bind="template: { name: 'list-item-template', foreach: articles } ")
								
				pre Drafts
				table.table.table-condensed
					thead
						tr
							th Name
							th Category
							th Publish Date
							th Last edited by
							th Move
					tbody(data-bind="template: { name: 'list-item-template', foreach: drafts } ")

				pre Trash
				table.table.table-condensed
					thead
						tr
							th Name
							th Category
							th Publish Date
							th Last edited by
							th Move
					tbody(data-bind="template: { name: 'list-item-template', foreach: trash } ")

	script(type="text/html", id="list-item-template")
		tr
			td
				a(data-bind="attr: { href: '/article/' + url() }, text: title")
				| &nbsp;-&nbsp;
				a(data-bind="attr: { href: '/edit/article?file=' + _id() }") Edit
			td(data-bind="text: category")
			td(data-bind="text: publishDate")
			td(data-bind="text: lastEditedBy().name")
			td
				select(class="form-control input-sm", data-bind="options: $root.moveOptions, value: destination")

	script(src="/components/requirejs/require.js", data-main="/javascripts/pages/all.js")
