extends layout

block content
	div.container.index_wrapper
		div.row
			div.col-lg-12
			form.form-signin#form(method="post",action="/users/session")
				h2 Login
				input(type="hidden", name="_csrf", value=csrf_token)
				input.form-control.top-input#name(type="text",placeholder="username",name="username",autofocus)
				input.form-control.bottom-input#pass(type="password",placeholder="password",name="password")
				if error
					p.text-danger #{error}
				button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
			if demo_mode
				form.form-signin#form(method="post",action="/users/session")
					input(type="hidden", name="_csrf", value=csrf_token)
					input(type="hidden",name="username",value="demo")
					input(type="hidden",name="password",value="demo")
					button.btn.btn-lg.btn-warning.btn-block#demo(type="submit") Demo
