doctype html
html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		title=title
		link(rel="stylesheet",href="/components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet",href="/edit/stylesheets/cms.css")
		script(src="/components/jquery/dist/jquery.min.js")
		script(src="/components/bootstrap/dist/js/bootstrap.min.js")
		block css
		block headerTags
	body
		if login == true
			nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")
				div.navbar-header
					button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-ex1-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Wato CMS
				div.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown",href="#") Actions
							ul.dropdown-menu
								li: a(href="/edit/article") Article Editor
								li: a(href="/edit/css") CSS Editor
								li: a(href="/edit/template") Template Editor
								li: a(href="/edit/users") Manage Users
								li.divider
								li: a(href="/edit/all") All Articles
						block navDropdowns
					ul.nav.navbar-nav.navbar-right#nav-buttons
						block navButtons
						li: a(href="/logout") Log Out
			nav.navbar.navbar-fixed-top(style="z-index:0;position:relative;")
				block navParams
		include ./../includes/messages.jade
		block content
		block javascripts
		script.
			var _csrf = "#{csrf_token}"
