extends layout

block content
	div.container.index_wrapper
			div.row
				div.col-lg-12
					table.table#edituser
						thead
							tr
								th Name
								th Username
								th Email
								th Permissions level
								th Save
								th Change Pass
								th Save
								th.col-lg-1 delete
						tbody(data-bind="foreach: users")
							tr
								td(data-bind="text: name")
								td(data-bind="text: username")
								td(data-bind="text: email")
								td
									select.form-control.input-sm(data-bind="options: $root.permissionsOptions, optionsText: 'display', optionsValue: 'value', value: permissions")
								td
									button.btn.btn-sm.btn-default(data-bind="click: $root.saveUser") Save
								td
									input.form-control.input-sm.col-lg-3(data-bind="value: changePassField")
								td
									button.btn.btn-sm.btn-default(data-bind="click: $root.saveUser") Save									
								td(data-bind="deleteUser: $data")
									span.glyphicon.glyphicon-trash
					table.table#newuser
						caption Add User
						thead
							tr
								th Name
								th UserName
								th Email
								th Password
								th Permissions level
								th Save
								th.col-lg-1
						tbody
							tr
								td
									input.form-control.input-sm(type="text", placeholder="Name", data-bind="value: name")
								td
									input.form-control.input-sm(type="text", placeholder="UserName", data-bind="value: username")
								td
									input.form-control.input-sm(type="text", placeholder="Email", data-bind="value: email")
								td
									input.form-control.input-sm(type="text", placeholder="Password", data-bind="value: password")
								td
									select.form-control.input-sm(data-bind="options: $root.permissionsOptions, optionsText: 'display', optionsValue: 'value', value: permissions")
								td
									button.btn.btn-sm.btn-default(data-bind="click: save") Save							
								td
							tr(data-bind="if: errorMessage")
								td(colspan=4, data-bind="text: errorMessage")
block javascripts
	script(src="/components/requirejs/require.js", data-main="/javascripts/pages/users.js")