extends layout

block css
  link(rel='stylesheet',href='/stylesheets/style.css')
  link(rel='stylesheet',href='/stylesheets/fonts.css')

block content
  div.container
    article
      h2= 404
      p We couldnt find that article
