extends layout

block css
  link(rel='stylesheet',href='/stylesheets/style.css')
  link(rel='stylesheet',href='/stylesheets/fonts.css')
  link(rel='stylesheet',href='/stylesheets/prettify.css')

block content
  div.container
    div.row
      div.col-lg-12
        article
          h2 All Articles
          if articles.length
            ul
              each article in articles
                include ./includes/article
          if !articles
            p 
              strong 
                | No articles have been created yet,
                a(href="/edit") create one
                | .
        nav
          ul.pagination
            - var n = 0
            while n < pages
              - n++
              - var active = ( n == page ? "active": "" )
              li(class=active)
                a(href="/article?page=" +n)= n