extends layout

block css
	link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/monokai_sublime.min.css")
	each val in cssFiles
		link(rel='stylesheet', href='/stylesheets/'+val)
	

block headerTags
	!= headerTags

block content
	article
		div.container
			if hideTitle == false
				h2= title
			!= content
			if publishDate
				small Published on #{publishDate}

