extends layout

block css
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/fonts.css')
    style


block content
    div.container
        div.row
            article.index
                div.col-md-4
                    div.indeximage.node
                    p Wato uses an all-javascript backend: Node, ExpressJS, and MongoDB. Anyone familiar with coding javascript can customize their install of compose to meet their unique needs.
                div.col-md-4
                    div.indeximage.jade
                    p Jade is the defacto standard for node templates. It's syntax is simple and easy to learn. You'll spend less time working on templates and more time focusing on your blog's content.
                div.col-md-4
                    div.indeximage.markdown
                    p As Jade is to templates, Markdown is to articles. Writing in markdown shields authors from the troubles of HTML while maintaining consitently clean code.